.container {
  text-align: center;
  white-space: nowrap;
  position: relative;
  font-size: 20px;
  h2,
  h3 {
    margin-bottom: 4px;
    font-weight: bold;
  }
  h2 {
    font-size: 90px;
    @media (min-width: 980px) {
      font-size: 120px;
    }
  }
  h3 {
    margin-bottom: 12px;
    font-size: 24px;
  }
}
.blackTheme {
  color: white;
}
.whiteTheme {
  color: black;
}
