.scrollBar {
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
  width: 100%;
  // max-width: 1580px;
  margin: 0 auto;
}
.scrollBtn {
  text-align: center;
  margin-top: 10px;

  & > button {
    cursor: pointer;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0;
    margin: 10px 10px;
  }
}
