.container {
  width: 95%;
  border-bottom: 2px solid rgb(218, 218, 223);
  color: rgb(145, 142, 145);
  padding: 10px 0;
  font-size: 12px;
  line-height: 1.3333733333;
  margin: 0 auto;

  @media (min-width: 980px) {
    width: 980px;
  }
  div {
    margin-bottom: 8px;
  }
  ol {
    padding: 0;
    padding-left: 12px;
    margin: 0;
    li {
      margin-bottom: 8px;
    }
  }
}
