.container {
  overflow: hidden;
  width: 95%;
  margin: auto;
  padding-bottom: 60px;
  text-align: center;
  @media (min-width: 980px) {
    width: 980px;
    border-bottom: 2px solid rgb(218, 218, 223);
  }
}
.lists {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 5%;
  width: 100%;

  @media (min-width: 980px) {
    justify-content: space-between;
  }
}
.btn{
    font-size: 20px;
}
