.container {
  width: 95%;
  border-bottom: none;
  font-size: 14px;
  margin: 0 auto;

  @media (min-width: 980px) {
    width: 980px;
    border-bottom: 2px solid rgb(218, 218, 223);
  }
  .title {
    padding: 12px 0;
    display: flex;
    // border-bottom: 2px solid rgb(218, 218, 223);
    align-items: center;
    @media (min-width: 980px) {
      border-bottom: none;
      padding: 10px 0;
    }
    .btn {
      background: transparent;
      border: none;
      opacity: 0.6;
      font-size: 16px;
      display: grid;
      place-items: center;
      &:hover {
        opacity: 1;
        cursor: pointer;
      }
    }
    .arrow {
      margin: 0 6px;
      opacity: 0.2;
      font-size: 25px;
      user-select: none;
      -webkit-user-select: none;
    }
    .location {
      padding-top: 7px;
    }
  }
  .mobileContainer {
    display: flex;
    flex-direction: column;

    @media (min-width: 980px) {
      display: none;
    }
    & > div {
      border-bottom: 2px solid rgb(218, 218, 223);
      overflow: hidden;
      .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 0;
        font-size: 12px;
        cursor: pointer;

        &:hover {
          color: rgb(23, 54, 93);
        }
        .titleBtn {
          font-size: 15px;
        }
      }
      .list {
        display: flex;
        flex-direction: column;
        div {
          background-color: transparent;
          border: none;
          padding: 0;
          font-size: 10px;
          margin: 0 0 15px 20px;
          text-align: left;
          color: rgb(145, 142, 145);
          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }
    }
  }
  .desktopContainer {
    display: none;
    font-size: 12px;
    @media (min-width: 980px) {
      display: flex;
      justify-content: space-between;
    }
    & > div > div {
      display: flex;
      flex-direction: column;
      margin-bottom: 23.6px;
      .desktopTitle {
        margin-bottom: 10px;
      }
      .desktopList {
        background-color: transparent;
        border: none;
        padding: 0;
        margin-bottom: 10px;
        text-align: left;
        color: rgb(145, 142, 145);

        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }
}
