.container {
  margin-bottom: 20px;
  font-size: 10px;
  width: 95%;
  display: flex;
  flex-direction: column;
  max-width: 980px;
  margin: 0 auto;

  @media (min-width: 980px) {
    width: 980px;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
  }
}
.separator {
  opacity: 0.5;
  margin: 0 4px;
  user-select: none;
  -webkit-user-select: none;
}
.btn {
  background-color: transparent;
  border: none;
  font-size: 10px;
  color: rgb(99, 92, 83);

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
.group:first-of-type {
  display: flex;
  margin: 6px 0 12px 0;
  @media (min-width: 980px) {
    margin: 6px 0 6px auto;
    order: 3;
  }
  .btn:first-of-type {
    padding-left: 0;
    @media (min-width: 980px) {
      padding-left: 6px;
    }
  }
}
.group:nth-of-type(2) {
  margin-bottom: 6px;
  color: rgb(119, 122, 153);
  @media (min-width: 980px) {
    margin: 0 15px 0 0;
    order: 1;
  }
}
.group:nth-of-type(3) {
  display: flex;
  margin-bottom: 10px;
  @media (min-width: 980px) {
    order: 2;
    margin-bottom: 0;
  }
  .btn:first-of-type {
    padding-left: 0;
    @media (min-width: 980px) {
      padding-left: 6px;
    }
  }
}
